<!DOCTYPE html>
<html ng-app="WS" ng-controller="mainController">
  <head>
    <title>Word Search</title>
    <link type="text/css" rel="stylesheet" href="styles.css">
    <script src="words.js"></script>
    <script src="angular.min.js"></script>
    <script src="main.js"></script>
    <script src="trie.js"></script>
  </head>
  <body>
    <div class="flex-row">
      <textarea ng-model="wordSearchStr"></textarea>
      <div id="buttons"><button ng-click="go()">&gt;</button></div>
      <div id="output">
        <div class="word" ng-repeat="found in wordsFound track by $index" ng-mouseover="highlightWord(found)">
          {{ found.word }}
        </div>
      </div>
    </div>
  </body>
</html>
