html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

div.flex-row {
  display: flex;
  align-items: stretch;
  margin: -10px;
  height: 100%;
}

textarea {
  flex: 1 1 1px;
  margin: 10px;
  font-size: 16px;
  font-family: monospace;
  letter-spacing: 3px;
  line-height: 21px;
  padding: 10px;
}
div#buttons {
  padding-top: 45vh;
}
div#output {
  flex: 1 1 1px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
  line-height: 21px;
}

.word {
  margin: 2px 0;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: #fff;
  cursor: default;
  transition: 0.3s;
}
.word:hover {
  background-color: #f2f2e8;
}
